.btn {
  background-color: #1e1e1e;
  border: 1px solid yellow;
  border-radius: 3px;
  color: yellow;
  padding: 25px 20px;
}

.btn:hover {
  cursor: pointer;
}

.input_filter {
  background-color: #1e1e1e;
  border: 1px solid gray;
  border-radius: 3px;
  color: white;
  padding: 10px;
}

.conteiner {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.conteiner_input {
  display: flex;
  flex-direction: column;
}

.container_form {
  align-items: center;
  display: flex;
  flex-direction: row;
}

